@tailwind base;
@tailwind components;
@tailwind utilities;


.z-custom-5 {
    z-index: -1;
}

.shadow-custom-1 {
    box-shadow: inset #22c25d;
}

.backdrop-iri-seriye {
    backdrop-filter: blur(500px);
}

.width-custom-1 {
    width: 400px;
}

.width-custom-2 {
    width: 430px;
}

.height-custom-1 {
    height: 400px;
}

.height-custom-2 {
    height: 430px;
}

.bg-custom {
    background-color: #1e1e1e;
}

.shadow-custom {
    box-shadow: 5px 5px 10px #22c25d;
}

